TVIK4I_0928/CSB_konyv.dtd

<!ELEMENT konyvek (konyv)*>
    <!ELEMENT konyv (cim|kiadasiEv|kiado|szerzo|abstract)*>
    <!ATTLIST konyv
            id CDATA #REQUIRED
            tema CDATA #REQUIRED>
    <!ELEMENT cim (#PCDATA)>
    <!ELEMENT kiadasiEv (#PCDATA)>
    <!ELEMENT kiado (#PCDATA)>
    <!ELEMENT szerzo (#PCDATA)>
    <!ELEMENT abstract (#PCDATA)>